<p id="notice"><%= notice %></p>

<p>
  <b>Date</b>
  <%= @holiday.date %>
</p>

<p>
  <b>Event</b>
  <%= @holiday.event %>
</p>

<br />

<%= link_to 'Back', holidays_index_path %>

<!--
%p#notice= notice

%p
  %b Date
  = @holiday.date

%p
  %b Event
  = @holiday.event

%br/

= link_to 'Back', holidays_index_path

-->

