<%= form_tag @leaves do |f| %>

  <div class="field">
    <%= f.label :year %>
    <%= f.date_select :change_year, :order => [:year] %>
  </div>

  <div class=actions>
    <%= f.submit "set"%>
  </div>

<% end %>

  
