body{
  background-color: whitesmoke;
}

h2 {
  color: #aaaaaa;
}

h4 {
  font-style: italic;
}

.field-grey {
  margin:auto;
  background-color: darksalmon;
  font-size: 500%;
}

.field-reason{
  background-color: blanchedalmond;
}

table{
  border: 1px solid black;
  width: 100%;
  text-align: center;
  border-collapse: separate;
  height: 100px;
}

th{
  border: 1px solid black;
  border-collapse: separate;
  text-align: center;
  font-weight: bold;
  background-color: #A7C942
}

td{
  border: 1px solid black;
}
