body{
  background-color: whitesmoke;
}

h1{
  font-size:250%;
}

h2 {
  font-size:200%;
  color: #aaaaaa;
}

h4 {
  font-size:100%
  font-style: italic;
}

.field-sDate {
  margin:auto;
  font-size: 500%;
}

.field-eDate{
}

.field-reason{
}

.actions{
  margin: auto;
  right: 25px;
}

.pull-right{
  font-size: 20px;
}

table{
  border: 1px solid black;
  width: 100%;
  text-align: center;
  border-collapse: separate;
  height: 100px;
  border-width: medium;
}

th{
  border: 1px solid black;
  border-collapse: separate;
  text-align: center;
  font-weight: bold;
  background-color: #A7C942
}

td{
  border: 1px solid black;
}

caption{
  font-weight: bolder;
  font-size: 150%;
}

a:link,a:visited
{
font-weight:bold;
text-align:center;
padding:4px;
text-decoration:none;
}

.holidaylist{
  text-align: right;
}


